.navbar {
  width: 100%;
  min-height: 75px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #9ae1b1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  transition: 1s all ease;
  color: rgb(53, 53, 53);
  font-size: 16px;

  &.active{
    background-color: white;
    color: black;
  }

  &_container {
    width: 100%;
    max-width: 1300px;
    height: 75px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  &_logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;

    span {
      color: #1dbf73; 
    }
  }

  &_links {
    list-style: none;
    display: flex;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;

    .user{
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      position: relative;

      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
      .options{
        position: absolute;
        top: 50px;
        right: 0;
        background-color: white;
        border-radius: 10px;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        color: grey;
        width: 200px;
        font-weight: 300;
      }
    }

    li {
      font-size: 16px;
      font-weight: 500;
      color: #555;
      cursor: pointer;
      transition: color 0.2s ease;
      display: flex;
      align-items: center;

      &:hover {
        color: #1dbf73;
      }
    }
    
  }

  &_actions {
    display: flex;
    gap: 12px;

    .btn {
      padding: 8px 18px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.2s ease;
    }

    .login {
      background: transparent;
      color: #333;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .signup {
      background-color: #1dbf73;
      color: #fff;

      &:hover {
        background-color: #17a863;
      }
    }
    .menu {
      width: 1400px;
      padding: 10px 0px;
    }
  }

  hr{
    width: 100%;
    height: 2px;              
    background-color: #e5e5e5; 
    border: none;             
    margin-bottom: 10px;
  }
  .menu{
    width: 1400px;
    padding: 2.5px 0px ;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    color: grey;
    font-family: 'Montserrat', sans-serif;
  }
}


@media (max-width: 768px) {
  .navbar_links {
    display: none;
  }
}

