.footer {
    display: flex;
    justify-content: center;
    color: #666;
    margin: 50px 0px;

    .container {
        width: 1400px;

        .top {
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-size: 16px;
                    color: #555;
                }

                span {
                    font-weight: 300;
                }
            }
        }

        hr {
            margin: 50px 0px;
            height: 0;
            border: 1px solid #ebe9e9;
        }

        .bottom {
            .left {}

            .right {}
        }
    }
}